@charset "UTF-8";

/*
CS 3312, spring 2022
Studio 1
YOUR NAME: Jeff Caldwell
*/

/* Fixing the box-sizing attribute will make sizing boxes easier. */
html {
   box-sizing: border-box;
}

/* Normally the * selector is smart to avoid, but for this purpose it's fine. */
*, *:before, *:after {
   box-sizing: inherit;
}

body {
   /* Set the background color of the whole document to a light gray. */
   background-color: rgb(238, 238, 238);
}

/* Make a major heading stand out. */
h1 {
   background-color: rgb(68, 0, 17);
   color: rgb(187, 255, 221);
   font-family: Futura, "Century Gothic", Geneva, Tahoma, Verdana, Arial, sans-serif;
   font-size: 250%;
   font-weight: bold;
   margin-left: 50px;
   margin-right: 50px;
   text-align: center;
}

/* Style the original greeting. */
.greeting {
   border-color: rgb(68, 0, 17);
   border-style: solid;
   border-width: 1px;
   padding: 9px;
}

/* Add style to a greeting that's become more enthusiastic. */
.greeting.enthusiastic {
   background-color: rgb(68, 0, 17);
   color: rgb(255, 255, 255);
   font-size: 150%;
   font-style: italic;
}

/* ADD NEW CSS RULES HERE */

/* Center all h2 elements */
h2 {
   text-align: center;
}

.greeting, .info {
   background-color: rgb(20, 20, 20);
   padding: 1rem;
   color: rgb(250, 250, 250);
}

.greeting {
   font-size: 1.5rem;
   font-style: italic;
   letter-spacing: 0.125em;
   font-weight: 600;
}

/* Set info paragraph styles */
.info {
   font-size: 1.5rem;
   letter-spacing: 0.125em;
   /* width: 40ch; */
   max-width: 40ch;
   margin: 0 auto;
   font-family: sans-serif;
}