@charset "UTF-8";

/*
CS 3312, spring 2022
Studio 3
YOUR NAME: Jeff Caldwell
*/

/* Fixing the box-sizing attribute will make sizing boxes easier. */
html {
   box-sizing: border-box;
}

/* Normally the * selector is smart to avoid, but for this purpose it's fine. */
*, *:before, *:after {
   box-sizing: inherit;
}

/* Add your CSS rules below. */

/* Add CSS custom properties to :root */
/* here, we can set color, sizing, and typeface variables */
:root {
   /* FONTS */
   --serif: Georgia, 'Times New Roman', Times, serif;
   --sans: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   --mono: 'Courier New', Courier, monospace;

   /* COLORS */
   --background: #FFFAF5;
   --border-blue: #4B96E1;
   --border-magenta: #AA0055;
   --table-pink: #FFE1F0;
   --table-blue: #E1F0FF;
   --table-green: #E1FFF0;
   --table-yellow: #FFFFE1;
   --highlight-blue: #E1FFFF;

   /* SHADOWS */
   --shadow-default: -4px 4px 8px 5px rgba(0, 0, 0, 0.6);
}

/* 
   Basically, the strategy is to apply general styles first
   and use the cascade to our advantage so we're not tripping
   over our own style rules and figuring out specificity later
*/

/* 
   set document-level font size 
   --generally defaults to 16px but using rem lets user decide
*/
html {
   font-size: 1rem;
}

/* reset default margins/padding so I have control */
html, body {
   margin: 0;
   padding: 0;
}

/* make body flex-column for easy spacing */
body {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 1rem;
}

/* Apply sans to all headings, table headings, etc */
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
th, 
legend, 
caption {
   font-family: var(--sans);
}


h1 {
   text-align: center;
   font-size: 1.75rem;
   color: var(--background);
   /* applying text-shadow thrice to match darkness */
   /* wow, that's dark */
   text-shadow:   0px 0px 20px rgb(0, 0, 0),
                  0px 0px 20px rgb(0, 0, 0),
                  0px 0px 20px rgb(0, 0, 0);
}

h2 {
   text-decoration: underline;
   font-style: italic;
}

.across {
   display: flex;
   gap: 2rem;
   align-items: center;
}

.across > div {
   border: 5px solid var(--border-blue);
   padding: 1rem;
   border-radius: 2rem 0 2rem 0;
   box-shadow: var(--shadow-default);
}

/* 
   rather than setting first div children of 
   .across as flex, use the 'beheaded owl selector' (* + *)
   to apply a margin-top to each child (not counting the first)
   of the inner div.

   This allows the first child in the inner div to stay in
   place.
*/

.across > div > * + * {
   margin-top: 1rem;
}

.across > div > div {
   font-family: var(--mono);
   border: 1px solid #000;
   padding: 0.5rem;
   box-shadow: var(--shadow-default);
}

/* Slightly larger font size for caption */
caption {
   font-size: 1.125rem;
}

table {
   border: 1px solid #000;
}

th {
   background-color: var(--table-pink);
}

td, th {
   padding: 0.5rem;
   border: 1px solid var(--background);
}

/* set general td background to --table-blue and override later */
table tr td {
   background-color: var(--table-blue);
}

/* override default blue bg color every other row */
table tr:nth-child(2n+1) td {
   background-color: var(--table-green);
}

/* Use !important to override all styles for anything in the 5th column */
tr td:nth-child(5), tr th:nth-child(5) {
   background-color: var(--table-yellow) !important;
}

.fancy {
   border-radius: 1rem;
   /* 
      Different box-shadow colors on each side of paragraph 

      @see: https://css-tricks.com/almanac/properties/b/box-shadow/
   */

   box-shadow: 
      inset 1rem 0 1rem -0.5rem rgba(0, 0, 0, 1),
      inset 0 1rem 1rem -0.5rem rgba(25, 0, 100, 1),
      inset 0 -1rem 1rem -0.5rem rgba(0, 125, 20, 1),
      inset -1rem 0 1rem -0.5rem rgba(0, 0, 0, 1)
      ;
   padding: 2rem;
}

/* 
   @see: https://css-tricks.com/snippets/css/drop-caps/#aa-the-css3-way-no-extra-markup
*/

.fancy:first-letter {
   font-size: 3rem;
}

legend {
   border: 5px solid var(--border-magenta);
   border-radius: 0.25em;
   padding: 0.25rem;
}

fieldset {
   border: 5px dashed var(--border-magenta);
}